@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  padding-top: 1rem;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
    padding-left: 2.25rem;
    max-width: 1000px;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  .header__wrapper {
    padding-left: 0;
  }
}
.header__wrapper--img {
  padding-bottom: 1rem;
}
.header__wrapper--logo {
  display: flex;
  justify-content: center;
}
.header__wrapper--navli {
  display: flex;
  list-style-type: none;
  font-family: Avenir;
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .header__wrapper--navli {
    margin-left: 1rem;
  }
}

a {
  color: #E1E1E1;
  text-decoration: none;
}

.nav__link {
  padding-bottom: 2rem;
}
.nav__link:hover {
  color: #FFFFFF;
}
.nav__list {
  padding-left: 0;
  width: 100%;
  text-align: center;
}
.nav__list--item {
  padding-bottom: 1.5rem;
  width: 50%;
}
.nav__list--item:hover {
  border-bottom: 0.2188rem solid #FFFFFF;
}
@media (min-width: 768px) {
  .nav__list--item {
    margin-left: 3rem;
  }
}

.active {
  font-weight: 600;
  border-bottom: solid 0.2188rem #FFFFFF;
}

.active2 {
  color: #FFFFFF;
}

.hero {
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 5rem 1rem;
  position: relative;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  z-index: -1;
}
@media (min-width: 768px) {
  .hero {
    padding: 11.5rem 1.25rem;
    background-position-y: bottom;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 18rem 3rem;
    background-position-y: -3rem;
  }
}
.hero__wrapper {
  max-width: 1000px;
  margin: auto;
}
.hero__header {
  color: white;
  font-family: Avenir;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    font-weight: 600;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .hero__header {
    padding-left: 0;
  }
}

.content__parent {
  max-width: 1000px;
  margin: auto;
}
.content__header {
  color: #323232;
  font-family: Avenir;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.3rem;
  padding-bottom: 0.7rem;
  padding-left: 5%;
}
@media (min-width: 768px) {
  .content__header {
    font-size: 2.25rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .content__header {
    padding-left: 0;
  }
}
.content__img {
  width: 90%;
  display: block;
  aspect-ratio: 2/1.1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .content__img {
    width: 75%;
    margin-bottom: 2rem;
    aspect-ratio: 2/1.1;
  }
}
@media (min-width: 1280px) {
  .content__img {
    width: 52rem;
    height: 30rem;
    margin-bottom: 2rem;
    aspect-ratio: 2/1;
  }
}
.content__quote1, .content__quote2 {
  color: #323232;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Avenir;
  font-size: 0.86rem;
  font-weight: 700;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .content__quote1, .content__quote2 {
    width: 70%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .content__quote1 {
    margin-bottom: 0.5rem;
    font-size: 1.3125rem;
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .content__quote1 {
    padding-right: 11rem;
    width: 83%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-size: 1.3125rem;
  }
}
@media (min-width: 768px) {
  .content__quote2 {
    font-size: 1rem;
    width: 75%;
  }
}
@media (min-width: 1280px) {
  .content__quote2 {
    width: 83%;
  }
}
.content__subheader {
  padding: 1.5rem 1rem 0 1rem;
  color: #323232;
  font-family: Avenir;
  font-size: 0.875rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .content__subheader {
    padding: 0;
    font-size: 1.5rem;
    margin-top: 3rem;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .content__subheader {
    width: 82%;
  }
}
.content__text1 {
  padding: 1rem;
  font-family: Avenir;
  color: #323232;
  font-size: 0.823rem;
  line-height: 1.125rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .content__text1 {
    grid-gap: 1.7rem;
    padding: 0;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    margin-top: 1.5rem;
    -moz-column-count: 2;
         column-count: 2;
    line-height: 1.5rem;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .content__text1 {
    width: 82%;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery__wrapper {
    max-width: 1000px;
  }
}
@media (min-width: 1280px) {
  .gallery__wrapper {
    margin: auto;
  }
}
.gallery__wrappermain {
  max-width: 1000px;
  margin: auto;
}
.gallery__heading {
  display: block;
  font-family: Avenir;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 2.3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    max-width: 1000px;
    margin-bottom: 1rem;
    margin: auto;
    margin-left: 4vw;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    margin: auto;
    padding-left: 2rem;
  }
}
.gallery__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    padding-bottom: 2rem;
    margin: auto;
  }
}
.gallery__photo {
  margin: 0.5rem 1rem;
  aspect-ratio: 2/1.15;
}
@media (min-width: 768px) {
  .gallery__photo {
    margin: 0.5rem;
    max-width: 29%;
  }
}
@media (min-width: 1280px) {
  .gallery__photo {
    max-width: 30%;
  }
}

.last {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .last {
    margin-bottom: 0.5rem;
  }
}

.footer {
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.footer__title {
  display: inline-block;
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    padding-top: 3rem;
    padding-left: 2.25rem;
    font-size: 36px;
  }
}
.footer__social {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-top: 0;
}
@media (min-width: 768px) {
  .footer__social {
    padding-top: 3.75rem;
    padding-left: 2rem;
  }
}
.footer__logo__desktoptablet--img {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo__desktoptablet--img {
    display: inline-block;
    padding-top: 3.75rem;
    padding-left: 28vw;
    padding-right: 2.25rem;
  }
}
.footer__logo__mobile--img {
  display: inline-block;
  padding-top: 4rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__logo__mobile--img {
    display: none;
  }
}
.footer__content--part2, .footer__content--part3, .footer__content--part5, .footer__content--part6, .footer__content--part8, .footer__content--part9 {
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer__content--part2, .footer__content--part3, .footer__content--part5, .footer__content--part6, .footer__content--part8, .footer__content--part9 {
    padding-top: 1.5rem;
  }
}
.footer__content--part1, .footer__content--part4, .footer__content--part7 {
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .footer__content--part1, .footer__content--part4, .footer__content--part7 {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer__content--wrapper {
    display: flex;
    gap: 2.5rem;
    padding-bottom: 3rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
  }
}
.footer__copyright {
  color: #FFFFFF;
  font-family: Avenir;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    padding-left: 2rem;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .footer__mainwrapper {
    max-width: 1000px;
    margin: auto;
  }
}/*# sourceMappingURL=bio.css.map */