@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}


.header{
    padding-top: 1rem;
    background-color: $bandsite-black;

    @include tablet-and-desktop {
        padding-top: 2rem;
    }

    &__wrapper{

        
    @include tablet-and-desktop {
        display: flex;
        padding-left: 2.25rem;
        max-width: $wrapper-max-width;
        margin: auto;
    }
        &--img {
            padding-bottom: 1rem;
        }

        &--logo {
            display: flex;
            justify-content: center;  
            // padding-bottom: 1rem;

            @include tablet-and-desktop {
                // padding-left: 2rem;
                // padding-right: 1rem;
            }
        }
        &--navli{
    // padding-bottom: 1rem;
    display: flex;
    // justify-content: space-around;
    /*gap: 8rem;*/
    list-style-type: none;
    font-family: Avenir;
    font-size: 0.875rem; /*check*/



    @include tablet-and-desktop {
        margin-left: 1rem;
    }
        }
    }
} 

a {
    color: $mercury;
    text-decoration: none;
}

.nav{

    &__link{



        &:hover{
            color: $white;
        }

    
        // @include tablet-and-desktop {
        //     margin-left: 3rem;
        // }
        }

    &__list{
    padding-left: 0;
    width: 100%;
    text-align: center;


    &--item{
        padding-bottom: 2rem;
        width: 50%;


        @include tablet-and-desktop {
            margin-left: 3rem;
        }


    }
}

}

.active{

    font-weight: 600;
border-bottom: solid 4px $white;
}

.active2{
    color: $white;
}





// .nav__list--item{
//     padding-bottom: 1rem;
// }

// .nav__li>.active{
//     color: white;
//     font-weight: 700;
//     text-decoration: underline;
// }













// .nav__list--item{
//     display: flex;
//     flex-direction: row;
//     width: 50%;
//     text-align: center;
// }


// .nav__list .nav__link{
//         // text-decoration: underline;
//         // text-decoration-color: white;
//         // text-decoration-thickness: 0.125rem;
//         color: white;
//         border-bottom-color: white;
//         /**باید خط زیرشون بلندتر شه**/
//         padding-bottom: 0.5rem;
//         text-decoration: none;
//     }





// .header__wrapper--logo{
//     display: flex;
//     justify-content: center;
//     // align-items: center;
//     // margin-left: auto; 
//     // margin-right: auto;
//     // padding-bottom: 1rem;
//     margin: auto;
// }

// .header__wrapper--navli{
//     display: flex;
    
// }


.hero{

    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover; /*should be more exact*/
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 5rem 1rem;
    // height: 100%;
    position: relative;
    z-index: -2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(19.6, 19.6, 19.6, 0.5); /* RGB values for #323232 with 50% opacity */
        z-index: -1;

    }

 
    //object-fit: cover;


    @include tablet-and-desktop {
        padding: 11.5rem 1.25rem;
        background-position-y: bottom;
    }
    @include desktop {
        padding: 18rem 3rem;
        background-position-y: -3rem;
    }

    &__wrapper{
        max-width: $wrapper-max-width;
        margin: auto;        
    }

    &__header{
        color: white;
        font-family: Avenir;
        font-size: 1.5rem;
        font-weight: 700;

        @include tablet-and-desktop {
            font-size: 3.75rem;
            font-weight: 600;
            padding-left: 1rem;
        }
    }
}


.content{

    // &__headerwrapper{
    //     max-width: $wrapper-max-width;
    // }
    &__parent{
        max-width: $wrapper-max-width;
        margin: auto;
    }

    &__header{
        color: $bandsite-black;
        font-family: Avenir;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 5%;

        @include tablet-and-desktop {
        font-size: 2.25rem;
        padding-top: 3rem;
        padding-bottom: 2.25rem;
        }
    }
    
    &__img{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;

        @include tablet-and-desktop {

            width: 75%;
            height: 20rem;
            max-width: 40rem;

            margin-bottom: 2rem;
        }
        @include desktop {

            width: 52rem;
            height: 30rem;
            margin-bottom: 2rem;
        }
    }

    &__quote1, &__quote2{
        color: $bandsite-black;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 1rem;

        // padding: 0 5%;

        font-family: Avenir;
        font-size: 0.86rem;
        font-weight: 700;
        line-height: 1.5rem;

        @include tablet-and-desktop {
            width: 70%;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__quote1{
        @include tablet-and-desktop {
        margin-bottom: 0.5rem;
            font-size: 1.3125rem;
        width: 75%
        }
        @include desktop {
            padding-right: 12rem;
            font-size: 1.3rem;
            margin-bottom: 1rem;
                font-size: 1.3125rem;
            width: 75%
            }
    }

    &__quote2{
        @include tablet-and-desktop {
        font-size: 1rem;
        width: 75%;
        }
    }

    &__subheader{
        padding: 1.5rem 1rem 0 1rem;
        color: black;
        font-family: Avenir;
        font-size: 0.875rem;
        font-weight: 600;

        @include tablet-and-desktop {
            padding: 0;
            font-size: 1.5rem;
            margin-top: 3rem;
            width: 75%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
    }

    &__text1{
        padding: 1rem;
        font-family: Avenir;
        color: $bandsite-black;
        font-size: 0.823rem;
        line-height: 1.125rem;
        font-weight: 600;

        @include tablet-and-desktop {
            grid-gap: 1.5rem;
            padding: 0;
            font-size: 0.875rem;
            margin-top: 1.5rem;
            column-count: 2;
            line-height: 1.5rem;
            width: 75%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
    }
}

.gallery{

    background-color: $alabaster;

    &__heading{
        display: block;
        font-family: Avenir;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-left: 3%;
        padding-bottom: 0.5rem;

        @include tablet-and-desktop {
            font-size: 2rem;
            padding-top: 3rem;
            max-width: $wrapper-max-width;
            margin: auto;
            margin-left: 1rem;
            }

    }

    &__wrapper{
        display: flex;
        // justify-content: center;
        flex-direction: column;


        // gap
        @include tablet-and-desktop {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: $wrapper-max-width;
            margin: auto;
            padding-bottom: 2rem;
            // margin-right: 1rem;
            // margin-left: 1rem;
            }
    }

    &__photo{
        margin: 0.5rem 1rem;
        @include tablet-and-desktop {
            margin: 0.5rem;
            max-width: 29%;
        
            }
    }
}

.last{
    margin-bottom: 1rem;
    @include tablet-and-desktop {
        margin-bottom: 0.5rem;
        }

}



.footer{
    background-color: $bandsite-black;

    &__wrapper{
        @include tablet-and-desktop {
            display: flex;
                }
    }

    &__title{
        display: inline-block;
        color: $white;
        font-family: Avenir;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 1rem;

        @include tablet-and-desktop {
        padding-top: 3rem;
        padding-left: 2.25rem;
        font-size: 36px;


                }
    }

    &__social{
        display: flex;
        gap: 2rem;
        padding-left: 1rem;
        padding-top: 0;

        @include tablet-and-desktop {
            padding-top: 3.75rem;
            padding-left: 2rem;
            // width: 30%;
                }
        }
    

    &__logo{
        &__desktoptablet--img{
            display: none;

            @include tablet-and-desktop {
            display: inline-block;
            padding-top: 3.75rem;
            padding-left: 14rem; /*might change*/
            // padding-right: 3rem;
            // padding-top: 4rem;
            // padding-left: 1rem;
            // padding-bottom: 1rem;
                }
        }
        &__mobile--img{
            display: inline-block;
            padding-top: 4rem;
            padding-left: 1rem;
            padding-bottom: 1rem;

            @include tablet-and-desktop {
            display: none;
                } 
        }
    }

    &__content{
        &--part2, &--part3, &--part5,
        &--part6, &--part8, &--part9 {
            color: $white;
            font-family: Avenir;
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1.125rem;
            padding-left: 1rem;
            padding-top: 1rem;

            @include tablet-and-desktop {
                padding-top: 1.5rem;
                    } 
        }

        &--part1, &--part4, &--part7{
            color: $white;
            font-family: Avenir;
            font-size: 0.8125rem;
            font-weight: 600;
            line-height: 1.125rem;
            padding-left: 1rem;
            padding-top: 1rem;

            @include tablet-and-desktop {
                padding-top: 1.5rem;
                    } 
        }

        &--wrapper{
            @include tablet-and-desktop {
                display: flex;
                justify-content: space-around;
                padding-bottom: 2.25rem;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                    } 
        }

    }

    &__copyright{
        color: $white;
        font-family: Avenir;
        font-size: 0.6875rem;
        font-weight: 400;
        line-height: 1.125rem;
        padding-left: 1rem;
        padding-bottom: 1rem;

        @include tablet-and-desktop {
            font-size: 0.875rem;
            padding-left: 3rem;
            padding-bottom: 40px;
                } 
    }

    &__mainwrapper{
        @include tablet-and-desktop {
            max-width: $wrapper-max-width;
            margin: auto;
                }
    }
}