@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

@use "./partials/global.css" as *;

.hero{

    background-image: url(../assets/images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // padding: 5rem 1rem;
    padding-top: 2rem;
    position: relative;
    z-index: -2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(19.6, 19.6, 19.6, 0.5);
        z-index: -1;

    }

      @include tablet-and-desktop {
        padding:4rem 1rem 1rem 3rem;
        background-position-y: bottom;
    }
      @include desktop {
        padding: 18rem 3rem;
        background-position-y: -3rem;
    }

    &__wrapper{
        max-width: $wrapper-max-width;
        margin: auto;        
    }

    &__title{
        color: white;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-right: 4rem;
        padding-left: 1rem;

        @include tablet-and-desktop {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__header{
        color: $white;
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
        padding-right: 4rem;
        padding-left: 1rem;

        @include tablet-and-desktop {
            font-size: 3.75rem;
            font-weight: 600;
            padding-right: 8rem;
            padding-left: 1rem;
            padding-bottom: 3rem;
        }

        @include desktop{
            padding-left: 0;
        }
    }

    &__embeddedsong{
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;

        @include tablet-and-desktop {
            padding-bottom: 0.5rem;
            padding-right: 19rem;
        }
    }
}


.shows{
    
    padding-bottom: 1rem;

    @include desktop {
        display: flex;
        justify-content: center;
    }

    &__headwrapper{
        @include desktop {
            // padding-right: 5rem;
            // padding-left: 5rem;
            // padding-top: 1rem;
        }
    }

    &__showwrapper{
        @include desktop {


            padding-top: 4rem;
        }
    }

    &__cardtabletdesktop{
        display: flex;
        // justify-content: ;
        gap: 20vw;
        padding-left: 2rem;
        padding-bottom: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        color: $silver;
        @include desktop {
            gap: 15vw;
        }
    }

    &__titletabletdesktop{
        display: none;
        @include tablet-and-desktop {
            display: flex;
            }
    }

    &__header{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        @include tablet-and-desktop {
            padding-top: 3rem;
            padding-left: 2rem;
            font-size: 2rem;
            font-weight: 700;
            }
            @include desktop {
                font-size: 2.2rem;
                font-weight: 600;
                padding-right: 7rem;
                padding-left: 3rem;
                padding-top: 4rem;
            }
    }

    &__card{
        padding: 1rem;
        border-bottom: solid 3px $mercury;

        &.selected{
            background-color: $mercury;
        }

        &:not(.selected):hover{
            background-color: $alabaster;
        }
        @include tablet-and-desktop {
            border-bottom: solid 2px $mercury;
            display: flex;
            flex-direction: row;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-left: 0;
            gap: 10vw;
            }
    }

    &__title{
        font-size: 0.7rem;
        font-weight: 600;
        color: $silver;
        padding-bottom: 0.5rem;
        @include tablet-and-desktop {
            display: none;
            }

    }

    &__date, &__venue, &__location{
        padding-bottom: 1rem;
        font-size: 0.8rem;
        @include tablet-and-desktop {
            font-weight: 600;
            font-size: 14px;
            }
    }

    &__date{
        font-weight: 600;
    }

    &__button{
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: $bandsite-black;
        color: $white;
        font-size: 1rem;
        border-radius: 4px;
        border: 0;
        @include tablet-and-desktop {
            font-size: 0.9rem;
            width: 22%;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            }
        @include desktop {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            }
    }
}

p#title3.shows__titletabletdesktop{
    margin-left: -3rem;
}

div#\30.shows__card{
    @include tablet-and-desktop {
        gap: 9vw;
        @include desktop {
        gap: 4vw;
        }
    }
}
div#\31.shows__card{
    @include tablet-and-desktop {
        gap: 9.5vw;
        @include desktop {
            gap: 4.5vw;
        }
    }
}
div#\32.shows__card{
    @include tablet-and-desktop {
        gap: 9vw;
    }
    @include desktop {
        gap: 4vw;
    }
}
div#\33.shows__card{
    @include tablet-and-desktop {
        gap: 9vw;
    }
    @include desktop {
        gap: 4vw;
    }
}
div#\34.shows__card{
    @include tablet-and-desktop {
        gap: 8.7vw;
    }
    @include desktop {
        gap: 3.8vw;
    }
}
div#\35.shows__card{
    @include tablet-and-desktop {
        gap: 9.4vw;
    }
    @include desktop {
        gap: 5.2vw;
    }
}

p#\32.shows__venue{
    @include tablet-and-desktop {
        margin-left: 1rem;
    }
}

p#\33.shows__venue{
    @include tablet-and-desktop {
        margin-left: 0.5rem;
    }
}

p#\34.shows__venue{
    @include tablet-and-desktop {
        margin-left: 0.9rem;
    }
}

p#\35.shows__venue{
    @include tablet-and-desktop {
        margin-left: -0.3rem;
    }
}

p#\34.shows__location{
    @include tablet-and-desktop {
        margin-left: -0.6rem;
    }
}

p#\35.shows__location{
    @include tablet-and-desktop {
        margin-left: 0.4rem;
    }
}